@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Space+Mono:ital@0;1&display=swap');



/*
font-family: 'Audiowide', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Space Mono', monospace;
*/

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
}

#logo {
    font-family: 'Bungee Shade', 'sans-serif';
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 94, 168, 66);
    word-spacing: 1rem;
    display: flex;
    justify-content: center;
}

#menu {
    font-family: 'Audiowide', cursive;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#menu a {
    text-decoration: none;
    color: rgba(186, 109, 0, 73);
}

#menu li {
    display: inline;
}

#horizontal_one {
    width: auto;
    height: 5px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 94, 168, 66);
    margin: 0px 20px 0px 20px;
}

#inventors_section img {
    width: 180px;
    height: auto;
    object-fit: contain;
    background: no-repeat;
}

#inventors_section h3 {
    margin: 0;
}

#titles_center {
    text-align: center;
    margin-bottom: 5rem;
}

#inventors_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(199, 0, 12, 0.5);
    margin-top: 0;
}

#olson {
    font-family: 'Space Mono', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.olson_description {
    font-family: 'Space Mono', 'sans-serif';
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#moog {
    font-family: 'Space Mono', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.moog_description {
    font-family: 'Space Mono', 'sans-serif';
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#smith {
    font-family: 'Space Mono', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.smith_description {
    font-family: 'Space Mono', 'sans-serif';
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#oberheim {
    font-family: 'Space Mono', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}
.oberheim_description {
    font-family: 'Space Mono', 'sans-serif';
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line_separator {
    background-color: rgba(186, 109, 0, 73);
    width: 70%;
    height: 3px;
    margin: 100px auto;
    text-decoration: wavy;
}


#documentaries_section {
    display: flex;
    flex-direction: column;
    background-color: rgba(199, 0, 12, 0.5);
    margin-top: 0;
}

#videos_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}