@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Space+Mono&display=swap');

/*
font-family: 'Audiowide', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Space Mono', monospace;
*/

body {
    font-family: 'Space Mono', monospace;
}

#logo {
    font-family: 'Bungee Shade', cursive, 'sans-serif';
    text-align: center;
    text-decoration: none;
    color: rgba(214, 100, 0, 84);
}

#menu {
    font-family: 'Audiowide', cursive;
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#menu a {
    text-decoration: none;
}

#menu li {
    display: inline;
}

img {
    width: 180px;
    height: auto;
    object-fit: contain;
    background: no-repeat;
}

#inventors_section {
    float: right;
}

.inventors_main {
    font-family: 'Space Mono', monospace, 'sans-serif';
    width: 600px;
    height: 700px;
    padding-left: 1.7%;
    padding-right: 1.7%;
    overflow-x: hidden;
    overflow-y: auto ;
    background-color: rgba(163, 94, 15, 64);
}

.olson {
    text-align: left;
}

.moog {
    text-align: right;
}

.smith {
    text-align: left;
}

.oberheim {
    text-align: right;
}

.pearlman {
    text-align: left;
}

h3 {
    margin: 0;
}

#videos_section {
    float: left;
}

.videos_main {
    font-family: 'Space Mono', 'sans-serif';
    text-align: center;
    width: 350px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(163, 94, 15, 64);
}
