@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Space+Mono&display=swap');

/*
font-family: 'Audiowide', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Space Mono', monospace;
*/

body {
    font-family: 'Space Mono', monospace;
    background-image: url('assets/images/moog_one_1.jpg')
}

#logo {
    font-family: 'Bungee Shade', cursive, 'sans-serif';
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: rgba(186, 109, 0, 73);
    word-spacing: 1rem;
    display: flex;
    justify-content: center;
}

#menu {
    font-family: 'Audiowide', cursive;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    margin-top: 1%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu li {
    display: inline;
}

#horizontal_one {
    width: auto;
    height: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(186, 109, 0, 73);
}

img {
    width: 180px;
    height: auto;
    object-fit: contain;
    background: no-repeat;
}

#inventors_section {
    float: right;
    margin-top: 2%;
    padding-right: 1.9%;
    margin-bottom: 0;
}

.inventors_main {
    font-family: 'Space Mono', monospace, 'sans-serif';
    width: 800px;
    height: 800px;
    padding-left: 1.7%;
    padding-right: 1.7%;
    overflow-x: hidden;
    overflow-y: auto ;
    color: rgba(200, 201, 204, 80);
    background-color: rgba(153, 25, 0, 60);
}

.olson {
    text-align: left;
}

.moog {
    text-align: right;
}

.smith {
    text-align: left;
}

.oberheim {
    text-align: right;
}

.pearlman {
    text-align: left;
}

h3 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

#videos_section {
    float: left;
    margin-top: 2%;
    margin-bottom: 10%;
}

.videos_main {
    font-family: 'Space Mono', 'sans-serif';
    width: 350px;
    height: 800px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: rgba(200, 201, 204, 80);
    background-color: rgba(153, 25, 0, 60);
}